body {
    font-family: "Iowan Old Style";
}

header, .current-city, .favourites-main {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: indianred;
    height: 85px;
}

.logo {
    width: 60px;
    margin: 10px;
}

.current-city {
    justify-content: center;
    margin: 20px auto 0 auto;
}

.current-city-header {
    width: 400px;
}

.current-city-name {
    margin-top: 0;
}

.current-city-temperature {
    font-size: 60px;
    float: left;
    margin: 0;
}

.current-city-weather-picture {
    width: 80px;
    float: left;
    margin-left: 20px;
}

.current-city-main {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
}

.favourites {
    margin: 0 auto 0 auto;
}

.favourites-header {
    width: 100%;
}

.favourites-main {
    justify-content: center;
    align-content: start;
    width: auto;
}

ul {
    padding: 0;
    margin: 0;
}

.city {
    border: 2px solid indianred;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 400px;
}

.city-header {
    display: flex;
    align-items: center;
}

.city-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.temperature {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 0 0.5em;
}

.weather-picture {
    width: 44px;
    margin-left: 1em;
}

.city-main {
    clear: both;
}

.weather-data-line {
    margin-top: 5px;
    background-color: indianred;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

.weather-data-title {
    float: left;
    margin: 0;
    font-weight: bold;
}

.weather-data-value {
    float: right;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    font-size: 250%;
    width: 1em;
    height: 1em;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
}

button:hover {
    color: indianred;
}
