body {
    font-family: "Iowan Old Style";
}

header {
    display: flex;
}

header {
    background-color: indianred;
    height: 85px;
}

.logo {
    width: 60px;
    margin: 10px;
}

.current-city {
    max-width: 800px;
    margin: 0 auto;
}

.current-city-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
}

.refresh-button {
    display: none;
}

.refresh-submit {
    display: block;
}

@media only screen and (min-device-width: 768px) {

    .refresh-button {
        display: none;
    }

    .refresh-submit {
        display: block;
    }

}

.current-city-main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.current-city-main-info {
    display: flex;
    align-items: center;
    align-content: stretch;
    height: 100%;
    flex-wrap: wrap;
}

.current-city-main h3 {
    margin: 0;
    width: 100%;
}

.current-city-temperature {
    font-size: 60px;
    margin: 0;
}

.current-city-weather-picture {
    width: 80px;
    margin-left: 20px;
}

.favourites {
    max-width: 95%;
    margin: 0 auto;
}

.favourites-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

form {
    margin-left: auto;
    font-weight: bold;
}

input[type="text"] {
    border-color: indianred;
    border-width: 2px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    border-color: indianred;
    padding: 5px;
}

input[type="submit"]:hover {
    background-color: indianred;
    color: white;
}

.favourites-main {
    justify-content: center;
    align-content: start;
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding-left: 0;
    margin-left: 0;
}

li {
    list-style-type: none;
}

.city, .empty-city {
    border: 2px solid indianred;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 400px;
}

.empty-city {
    border-color: transparent;
}

.city-header {
    display: flex;
    align-items: center;
}

.city-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.temperature {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 0 0.5em;
}

.weather-picture {
    width: 44px;
    margin-left: 1em;
}

.city-main {
    width: 400px;
}

.weather-data-line {
    display: flex;
    margin-top: 5px;
    background-color: indianred;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

.weather-data-title {
    margin: 0;
    font-weight: bold;
}

.weather-data-value {
    margin: 0 0 0 auto;
}

.close {
    font-size: 250%;
    width: 1em;
    height: 1em;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
}

.close:hover {
    color: indianred;
}
