body {
    font-family: "Iowan Old Style";
}

header, .favourites, .current-city {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: indianred;
}

.favourites {
    justify-content: center;
}

.current-city {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 60px;
    margin: 10px;
}

.city {
    border: 2px solid indianred;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 400px;
}

.city-name {
    margin: 10px 10px 10px 0;
    float: left;
}

.temperature {
    margin: 10px;
    float: left;
}

.weather-picture {
    width: 50px;
    margin-left: 10px;
}

.weather-data {
    clear: both;
}

.weather-data-title {
    float: left;
    margin: 0;
    font-weight: bold;
}

.weather-data-value {
    float: right;
    margin: 0;
}

.weather-data-line {
    margin-top: 5px;
    background-color: indianred;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

.clearfix:after {
    clear: both;
    display: block;
    content: "";
}

label {
    float: right;
    font-size: 200%;
    width: 1em;
    height: 1em;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}

label:hover {
    color: indianred;
}

.close {
    display: none;
}
